mat-form-field {
  width: 50%;


}

.time-input {
  width: 24% !important;
}

.dialog-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

input[disabled] {
  color: black;
}

textarea[disabled] {
  color: black;
}

.dialog-button-row {
  width: auto;
  text-align: center;

  button {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

}
mat-dialog-content{
  max-height: 680px !important;
}
mat-tab-group {
  height: 480px;
}
