<div class="dialog-content">
  <h2>Karta wizyty z dnia {{visitDateStr}} </h2>
  <mat-tab-group>
    <mat-tab label="Raport z wizyty">
      <br/>
      <form
        [formGroup]="visitForm"
        novalidate
      >
        <div class="data">
          <div class="column">
            <mat-form-field id="patient-input">
              <mat-label>Pacjent</mat-label>
              <input *ngIf="patient != null"
                formControlName="patient"
                matInput
                type="text"
                [disabled]="true">
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Data wizyty</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
            <br/>
            <mat-form-field class="timeInput">
              <mat-label>Od</mat-label>
              <input matInput
                     type="time"
                     name="startTime"
                     formControlName="startTime">

            </mat-form-field>
            <span id="timeSpacer">  -  </span>
            <mat-form-field class="timeInput">
              <mat-label>do</mat-label>

              <input matInput
                     type="time"
                     name="endTime"
                     formControlName="endTime">

            </mat-form-field>
            <br/>

              <mat-form-field id="cycleChooser">
                <mat-label>Kontynuowany cykl leczenia</mat-label>
                <input matInput
                           name="treatmentCycle"
                       formControlName="treatmentCycle"
                           type="text">

              </mat-form-field>
<!--            <mat-form-field>-->
<!--              <mat-label>Kontynuowany cykl leczenia</mat-label>-->
<!--              <input-->
<!--                formControlName="treatmentCycle"-->
<!--                matInput-->
<!--                type="text"-->
<!--                [value]="afsgsre"-->
<!--               >-->
<!--            </mat-form-field>-->

            <br/>
            <mat-form-field class="longInput">
              <mat-label>Opis udzielonych świadczeń zdrowotnych:</mat-label>
              <textarea
                matInput
                type="text"
                name="treatment"
                formControlName="treatment"
                required></textarea>
            </mat-form-field>
            <br/>
            <mat-form-field class="longInput">
              <mat-label>Notatka</mat-label>
              <textarea
                matInput
                type="text"
                name="notes"
                formControlName="notes"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Badanie">
      <br>
      <app-treatment-cycle-form
        [cycleId]="finishedVisit.treatmentCycleId"
        [treatmentCycleForm]="treatmentCycleForm"></app-treatment-cycle-form>
    </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <br>
  <div class="dialog-button-row">
    <button class="dialog-button " mat-button (click)="cancel()">Zamknij</button>
  </div>
</div>
