<div class="treatment-cycle-list" >
  <mat-accordion xmlns="http://www.w3.org/1999/html">
    <mat-card-title id="message" *ngIf="treatmentCycleTitlesList.length == 0">Pacjent nie ma jeszcze udokumentowanej historii leczenia.</mat-card-title>
    <mat-expansion-panel *ngFor="let treatmentCycle of treatmentCycleTitlesList" (opened)="loadVisits(treatmentCycle.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>{{treatmentCycle.title}}</h3>
        </mat-panel-title>
        <mat-panel-description>
          {{treatmentCycle.bodyPart}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-footer>
        <div class="row">
          <div class="spacer"></div>
          <button mat-flat-button (click)="showExternalAttachments(treatmentCycle.id)">
            ZEWNĘTRZNA DOKUMENTACJA<mat-icon>attach_file</mat-icon>
          </button>
          <button mat-flat-button (click)="showTreatmentCycleHistory(treatmentCycle.id)">
            KARTA PRZEBIEGU TERAPII <mat-icon>wysiwyg</mat-icon>
          </button>
        </div>
        <br/>
      </mat-card-footer>
      <div *ngFor="let visit of treatmentCycleVisits" class="visit-row" >
        <mat-divider></mat-divider>
        <p></p>
        <div class="row" >
          <mat-panel-title>
            {{visit.date}}
          </mat-panel-title>
          <mat-panel-description>
            {{visit.startTime}}
          </mat-panel-description>
                  <div class="spacer"> </div>
          <button mat-button (click)="showVisitInfo(visit.id)"><span class="material-icons">launch</span></button>
        </div>
        <p></p>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>

