<div class="wrapper">
  <mat-card class="container, mat-elevation-z21">
    <mat-grid-list cols="2"[cols]="breakpoint" (window:resize)="onResize($event)">
      <mat-grid-tile>

        <div class="presentationPart">
          <img src="assets/logo/fizjo1.png"  alt="PHYSF">
          <div class="desc">
            Aplikacja do prowadzenia wirtualnej kartoteki pacjenta oraz zarządzania wizytami w gabinecie
            fizjoterapeutycznym.
          </div>
        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div id="loginPart">
          <app-login></app-login>


          <button id="goToRegistrationButton" (click)="goToRegisterPage()" class="formButton mat-elevation-z1" mat-stroked-button color="primary">Załóż konto</button>


        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

<router-outlet></router-outlet>
