@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";

.container {
  min-width: 100%;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;

  .calendar-container {
    display: inline;
    width: 100%;

    #main-calendar {
      width: 70%;
      margin-right: 5%;

      .main-calendar-card {
        width: 100%;
      }
    }

    #small-calendar {
      width: 20%;

      .small-calendar-card {
        //padding: 30px;
        width: 100%;
        margin-right: 0px;
      }
    }

  }
}


.spacer {
  flex: 1 1 auto;
}

.button-group, .date-display {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: center;

  h3 {
    font-size: 130%;
  }

}

.nav-panel-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  right: 0;
  left: 0;
  margin: auto;
}

.column {
  float: left;
  display: inline-block;

}

.page-title-container {
  display: flex;

  .calendar-navigation {
    float: right;
    display: flex;
    flex-wrap: wrap;
    //width: 90%;
  }
}
//.scroll-container {
//  height: calc(100vh - 320px);
//  overflow-y: auto;
//}
