<mat-toolbar id="navbar" class="mat-elevation-z13">

  <img src="assets/logo/fizjo.png"  alt="PHYSF"
       style="height: 130px" >
  <div class="spacer"></div>
  <div class="button-row " >
    <a class="navbarButton" mat-button routerLink="" color="">Wizyty</a>
    <a mat-button routerLink="" class="navbarButton">Kalendarz</a>
    <a mat-button routerLink="" class="navbarButton">Pacjenci</a>
    <a mat-button routerLink="" class="navbarButton">Formularze</a>
    <a mat-button routerLink="" class="navbarButton">Wyloguj</a>

  </div>
</mat-toolbar>
