<div class="container">
  <mat-card class="mat-elevation-z3 card" id="personal-info-card">
    <mat-card-title>
      Dane
      <a class="show-more-info">
        <span (click)="openPatientPersonalData()" *ngIf="editPersonalData" class="material-icons ">open_in_new</span>
      </a>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="">
      <table id="patient-personal-info-table">
        <tr>
          <td class="personal-info-label">Imię:</td>
          <td>{{patient.name}}</td>
        </tr>
        <tr>
          <td class="personal-info-label">Nazwisko:</td>
          <td> {{patient.surname}} </td>
        </tr>
        <tr>
          <td class="personal-info-label">Płeć:</td>
          <td>  {{patient.sex}} </td>
        </tr>
        <tr>
          <td class="personal-info-label">Data urodzenia:</td>
          <td> {{ patient.birthDate }} </td>
        </tr>
        <tr>
          <td class="personal-info-label">Numer PESEL:</td>
          <td>{{patient.pesel}}</td>
        </tr>
        <tr>
          <td class="personal-info-label">Numer kontaktowy:</td>
          <td>
            {{ patient.phone }}
          </td>
        </tr>
        <tr>
          <td class="personal-info-label">Adres e-mail:</td>
          <td> {{ patient.email }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z3 card" id="incoming-visits-card">
    <mat-card-title>
      Nadchodzące wizyty
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="">
      <button id="plan-visit-button" class="title-button mat-elevation-z1" mat-stroked-button color="accent"
              (click)="openPlanVisit()">
        <span class="material-icons">add</span>
        Zaplanuj wizytę
      </button>
      <p></p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let visit of incomingVisits">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{visit.getFormattedDate()}}
            </mat-panel-title>
            <mat-panel-description>
              {{visit.startTime}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card-content>
            <p *ngIf="visit.treatmentCycleTitle != null">Cykl leczenia: {{visit.treatmentCycleTitle}}</p>
            <p *ngIf="visit.treatmentCycleTitle == null">Pierwsza wizyta</p>
            <p *ngIf="visit.notes != null">Notatka: {{visit.notes}}</p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <br>
          <mat-card-footer>
            <div class="visit-button-row">
              <button mat-flat-button (click)="goToVisitForm(visit)">ROZPOCZNIJ <mat-icon>launch</mat-icon></button>
              <div class="spacer"></div>
                <button mat-flat-button (click)="openEditVisit(visit)">EDYTUJ <mat-icon>create</mat-icon></button>
              <div class="spacer"></div>
                <button  mat-flat-button (click)="cancelVisit(visit.id)">ODWOŁAJ <mat-icon>close</mat-icon></button>


            </div>
          </mat-card-footer>

        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
