<button mat-mini-fab color="accent" aria-label="Dodaj załącznik" (click)="addAttachment()"
        style=";margin-left: 20px; margin-right: 20px; margin-bottom: 20px; position: static">
  <mat-icon>add</mat-icon>
</button>Dodaj załącznik
<form [formGroup]="attachmentForm">
  <div formArrayName="attachment">
    <div *ngFor="let item of attachments.controls; let attachmentIndex=index" [formGroupName]="attachmentIndex">
      <mat-divider></mat-divider>
      <mat-form-field class="attachment-input">
        <mat-label>Link do repozytorium</mat-label>
        <input matInput
               type="url"
               matTextareaAutosize
               cdkTextareaAutosize
               cdkAutosizeMinRows="2"
               cdkAutosizeMaxRows="20"
               formControlName="link"
               placeholder="https://repozytorium-kartoteki.com">
      </mat-form-field>
      /
      <mat-form-field class="attachment-input">
        <mat-label
          *ngIf="attachments.value[attachmentIndex].fileId > -1 else newFile">{{this.attachments.controls[attachmentIndex].get("fileName").value}}</mat-label>
        <ng-template #newFile>
          <mat-label>Wybierz plik</mat-label>
        </ng-template>
        <input matInput disabled>
        <button mat-icon-button matSuffix (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input hidden (change)="selectFile($event, attachmentIndex)" #fileInput type="file" id="file"
        >
      </mat-form-field>
      <br/>
      <mat-form-field class="description-input">
        <mat-label>Opis / Komentarz</mat-label>
        <textarea matInput
                  type="text"
                  matTextareaAutosize
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="20"
                  formControlName="description"></textarea>
      </mat-form-field>
      <button mat-icon-button type="button" (click)="deleteSellingPoint(attachmentIndex)" style="float: right">
        <mat-icon>delete</mat-icon>
      </button>

      <p></p>
    </div>
  </div>
</form>
