<div>
<mat-card-title>Twoje dane</mat-card-title>
<p></p>

<mat-divider></mat-divider>
<br>
<div class="form-container">
  <form
    [formGroup]="userDataForm"
    novalidate>
    <div>
      <div class="column">
        <mat-card-content>
          <mat-form-field>
            <mat-label>Imię</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="surname" required>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Nazwa gabinetu/ firma</mat-label>
            <textarea matInput formControlName="company" matTextareaAutosize
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="20"></textarea>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Adres</mat-label>
            <textarea matInput formControlName="address" matTextareaAutosize
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="20"></textarea>
          </mat-form-field>

        </mat-card-content>

      </div>
      <div class="column">
        <mat-card-content>
          <mat-form-field>
            <mat-label>Miejscowość</mat-label>
            <input matInput formControlName="city" matInput formControlName="city" matTextareaAutosize
                   cdkTextareaAutosize
                   cdkAutosizeMinRows="2"
                   cdkAutosizeMaxRows="4"
            >
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Numer licencji</mat-label>
            <input matInput formControlName="licenceNumber"
            >
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Specjalizacja</mat-label>
            <textarea matInput formControlName="specializations"
                      matTextareaAutosize
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="20"></textarea>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Tytuł naukowy</mat-label>
            <input matInput formControlName="professionalTitle"
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput
                   placeholder="e-mail"
                   type="email"
                   name="email"
                   email
                   formControlName="email">

            <!--          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
            <!--            Wprowadź poprawny adres e-mail-->
            <!--          </mat-error>-->
            <!--          <mat-error *ngIf="emailFormControl.hasError('required')">-->
            <!--            Wprowadź poprawny adres e-mail-->
            <!--          </mat-error>-->
          </mat-form-field>
        </mat-card-content>
      </div>
    </div>

  </form>



</div>
<mat-error *ngIf="isUpdateFail" id="error-message">{{errorMessage}}</mat-error>
<br/>
<br>
<mat-divider></mat-divider>
<br/>
<br/>

<div class="button-row">
  <button mat-button (click)="close()">Anuluj</button>
  <button mat-button mat-raised-button color="accent" (click)="submit()" [disabled]="!userDataForm.valid">
    Zatwierdź
  </button>
</div>
</div>
