.mat-step-icon-selected {
  background-color: blue !important;
  color: blue !important;
}
.container {
  width: 80% !important;
  margin-left: auto;
  margin: auto;
  margin-top: 20px;
  mat-card {
    position: static;
    box-sizing: border-box ;
    height: 100% !important;

  }
}
.sex-section{
  label{
    text-align: left;
    margin-right: 40px;
  }
  mat-radio-button {
    margin-right: 10px;
  }
}

.stepper-nav-button {
  width: auto;
  text-align: center;

  button {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

}

.column {
  float: left;
  width: 50%;
}

.row {
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#afterAddingContainer {
  text-align: center;
  padding: 40px;

  #successHeader {
    margin-bottom: 40px;

  }

  button {
    width: 250px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;

    i {
      line-height: 40px;
      float: left;
      vertical-align: middle;
    }
  }
}


.mat-card-content {
  max-height: 100%;
  position: absolute;
  overflow: auto;
}
.mat-card {
  //height: 90% !important;
  position: relative;
  overflow: hidden;
}

