<app-navbar></app-navbar>
<div class="wrapper-whitesmoke">

  <header class="page-title-container  ">


    <h1 class="page-title">Twój profil</h1>

  </header>


  <div class="container">
    <mat-card>

        <mat-card-title>Konto</mat-card-title>
        <mat-card-content>
          <p>nazwa użytkownika: {{currentUser.username}}</p>
          <p>hasło: *****</p>

        </mat-card-content>
        <mat-card-footer>
          <a mat-button routerLink="">Zarządzaj</a>
        </mat-card-footer>

</mat-card>

    <!--    <p>-->
    <!--      <strong>Email:</strong>-->
    <!--      {{ currentUser.email }}-->
    <!--    </p>-->
    <!--    <p>-->
    <!--      <strong>Token:</strong>-->
    <!--      {{ currentUser.token.substring(0, 20) }} ...-->
    <!--      {{ currentUser.token.substr(currentUser.token.length - 20) }}-->
    <!--    </p>-->
    <!--  </div>-->

    <!--  <ng-template #loggedOut>-->
    <!--    Please login.-->
    <!--  </ng-template>-->


</div>
