@import "../node_modules/angular-calendar/css/angular-calendar.css";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$physf-client-primary: mat-palette($mat-indigo);
//$physf-client-accent: mat-palette($mat-pink, A200, A100, A400);
$physf-client-primary: mat-palette($mat-teal);
$physf-client-accent: mat-palette($mat-pink, 700, A200, A100);
// The warn palette is optional (defaults to red).
$physf-client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$physf-client-theme: mat-light-theme((
  color: (
    primary: $physf-client-primary,
    accent: $physf-client-accent,
    warn: $physf-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($physf-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f5f5 !important;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  overflow-x: hidden;
  //overflow: hidden;
}

//
//.backdropBackground {
//  background: rgba(53, 130, 120, 0.2);
//
//}
.cal-week-view .cal-time-events {
  height: 90%;
  max-height: 600px;
  overflow-y: auto;
}

.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: block;
}

.cal-day-headers {
  margin-right: 10px;
}

.cal-day-columns {
  height: 100%;
}

.cal-month-columns {
  height: 90%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
//  display: block !important;
//}
//.cal-week-view .cal-hour-segment.cal-after-hour-start .cal-time {
//  display: block !important;
//}
.cal-month-view .cal-day-cell {
  min-height: 0;
}

//.cal-week-view .cal-day-cell {
//  min-height: 0;
//  height: 10px;
//}
//.cal-cell-top {
//  min-height: 20px !important;
//  flex: 1;
//}
