<mat-dialog-content>
  <div class="dialog-content">
    <h2>Karta wizyty</h2>


    <mat-tab-group>

      <mat-tab label="Raport z wizyty">
        <br/>
        <form
          [formGroup]="visitForm"
          >
          <div class="data">
            <div class="column">


              <mat-form-field *ngIf="patient != null">
                <mat-label>Pacjent</mat-label>
                <input
                  matInput
                  type="text"
                  [value]="patient.getNameWithAge()"
                  [disabled]="true">
              </mat-form-field>
              <mat-form-field style="width: 60%" *ngIf="patient == null">
                <mat-label>Pacjent</mat-label>
                <mat-select matInput
                            name="patient"
                            formControlName="patient"
                            (selectionChange)="managePatientChange()">
                  <mat-option *ngFor="let patient of patientList"
                              [value]="patient.id">{{getPatientNameWithAge(patient)}}</mat-option>

                </mat-select>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <mat-label>Data wizyty</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" [max]="today">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

              </mat-form-field>
              <br/>
              <mat-form-field class="timeInput">
                <mat-label>Od</mat-label>
                <input matInput
                       type="time"
                       name="startTime"
                       formControlName="startTime">

              </mat-form-field>
              <span id="timeSpacer">  -  </span>
              <mat-form-field class="timeInput">
                <mat-label>do</mat-label>

                <input matInput
                       type="time"
                       name="endTime"
                       formControlName="endTime"
                       [min]="visitForm.get('startTime').value">

              </mat-form-field>
              <br/>
              <br/>
              <div *ngIf="treatmentCycleList.length > 0">
                <mat-label>
                  Kontynuacja leczenia
                </mat-label>
                <mat-checkbox class="example-margin" (change)="manageContinuation()"
                              [checked]="isTreatmentContinuation"></mat-checkbox>


              </div>
              <span *ngIf="!isTreatmentContinuation">


                   <span class="info-no-treatment-cycle" style="color: #c2185b">
                    PAMIĘTAJ O PRAWIDŁOWYM WYPEŁNIENIU FORMULARZA BADANIA NOWEGO CYKLU LECZENIA
                  </span>
            </span>
              <span *ngIf="isTreatmentContinuation">
              <mat-form-field id="cycleChooser" *ngIf="treatmentCycleList.length > 0">
                <mat-label>Kontynuowany cykl leczenia</mat-label>
                <mat-select matInput
                            name="treatmentCycle"
                            formControlName="treatmentCycle">
                  <mat-option *ngFor="let cycle of treatmentCycleList"
                              [value]="cycle">{{cycle.title}}</mat-option>

                </mat-select>
              </mat-form-field>
              <span class="info-no-treatment-cycle" *ngIf="treatmentCycleList.length == 0"> BRAK CYKLI LECZENIA DO WYBORU</span>
            </span>
              <br/>
              <mat-form-field class="longInput">
                <mat-label>Opis udzielonych świadczeń zdrowotnych:</mat-label>
                <textarea
                  matInput
                  type="text"
                  name="treatment"
                  formControlName="treatment"
                  [required]="true"
                  matTextareaAutosize
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="20"
                ></textarea>
              </mat-form-field>
              <mat-form-field class="longInput">
                <mat-label>Notatka</mat-label>
                <textarea
                  matInput
                  type="text"
                  name="notes"
                  formControlName="notes"
                  matTextareaAutosize
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="20"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Badanie" *ngIf="visitForm.get('treatmentCycle').value != null">
        <br>
        <app-treatment-cycle-form
          *ngIf="visitForm.get('treatmentCycle').value != null"
          [cycleId]="visitForm.get('treatmentCycle').value.id"
          [treatmentCycleForm]="treatmentCycleForm"></app-treatment-cycle-form>

      </mat-tab>

      <mat-tab label="Zewnętrzna dokumentacja medyczna" *ngIf="visitForm.get('treatmentCycle').value != null">
        <br/>
        <app-treatment-cycle-attachment-form
          [cycleId]="visitForm.get('treatmentCycle').value.id"
          [(attachmentForm)]="attachmentForm"
        ></app-treatment-cycle-attachment-form>
        <!--        <div class="form-group">-->
        <!--          <button mat-mini-fab color="accent" aria-label="Dodaj załącznik" [matMenuTriggerFor]="chooseAttachment">-->
        <!--            <mat-icon>add</mat-icon>-->
        <!--          </button>-->
        <!--            <mat-menu #chooseAttachment="matMenu">-->
        <!--              <button mat-menu-item>Plik</button>-->
        <!--              <button mat-menu-item>Link do repozytorium</button>-->
        <!--            </mat-menu>-->


        <!--&lt;!&ndash;          <div >&ndash;&gt;-->
        <!--            <mat-form-field class="columns">-->
        <!--              <mat-label *ngIf="selectedFile; else newFile">{{selectedFile.item(0).name}}</mat-label>-->
        <!--              <ng-template #newFile>-->
        <!--                <mat-label>Choose file</mat-label>-->
        <!--              </ng-template>-->
        <!--              <input matInput disabled>-->
        <!--              <button mat-icon-button matSuffix (click)="fileInput.click()">-->
        <!--                <mat-icon>attach_file</mat-icon>-->
        <!--              </button>-->
        <!--              <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">-->
        <!--            </mat-form-field>-->
        <!--            <br>-->
        <!--            <mat-form-field style="width: 60%">-->
        <!--              <mat-label>Opis/ Komentarz</mat-label>-->
        <!--              <input-->
        <!--                matInput-->
        <!--                type="text"-->
        <!--                name="description"-->
        <!--                matTextareaAutosize-->
        <!--                cdkTextareaAutosize-->
        <!--                cdkAutosizeMinRows="2"-->
        <!--                cdkAutosizeMaxRows="20">-->
        <!--            </mat-form-field>-->
        <!--          </div>-->
        <!--        </div>-->
      </mat-tab>
    </mat-tab-group>
    <br>
  </div>
</mat-dialog-content>
<p></p>
<mat-divider></mat-divider>
<p></p>
<div class="dialog-button-row">
  <button class="dialog-button" mat-button (click)="cancel()">Anuluj</button>

  <button class="dialog-button" mat-button mat-raised-button color="accent"
          (click)="approve()" [disabled]="!visitForm.valid || !treatmentCycleForm.valid || !treatmentCycleForm.valid">
    Zapisz i zakończ wizytę
  </button>
</div>
