<app-navbar></app-navbar>
<div class="wrapper">
  <header class="page-title-container  mat-elevation-z3 ">
    <h1 class="page-title">{{title}}</h1>
    <div class="patients-buttons button-row">
      <button id="patient-button-data" class="title-button mat-elevation-z5" mat-stroked-button color="primary"
              (click)="setMainView()">
        Panel główny
      </button>
      <button id="patient-button-treatment-history" class="title-button mat-elevation-z5" mat-stroked-button
              color="primary" (click)="setHistoryView()">
        Historia leczenia
      </button>
    </div>
  </header>
<div class="container" *ngIf="patient" [ngSwitch]="view" >
    <app-patient-file-main-panel [patient]="patient" *ngSwitchCase="mainView"></app-patient-file-main-panel>
  <app-patient-file-treatment-history-panel [patient]="patient" *ngSwitchCase="historyView"></app-patient-file-treatment-history-panel>
</div>

</div>
<!-- <div [ngSwitch]="view">
              <mwl-calendar-month-view
                *ngSwitchCase="monthView"-->
