.container {
  //padding: 30px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 100%;
  //background-color: #009688;
}
app-patient-file-main-panel {
  width: 100%;
}
app-patient-file-treatment-history-panel {
  width: 100%;
}
.navbar-button {
  margin-left: 40px;
  margin-right: 40px;
}
