<app-navbar></app-navbar>
<div class="wrapper">
  <header class="page-title-container  ">
    <h1 class="page-title">Kartoteka pacjenta</h1>
    <div class="patients-buttons button-row">
      <button id="patient-button-data" class="title-button mat-elevation-z1" mat-stroked-button color="primary"
              (click)="panel='mainPanel'">
        Panel główny
      </button>
      <button id="patient-button-treatment-history" class="title-button mat-elevation-z1" mat-stroked-button
              color="primary" (click)="panel='historyPanel'">
        Historia leczenia
      </button>
      <!--      <button id="patient-button-data" class="title-button mat-elevation-z1" mat-stroked-button color="primary">-->
      <!--        Dane-->
      <!--      </button>-->
    </div>
  </header>
<div class="container" *ngIf="patient">
    <app-patient-file-main-panel [patient]="patient" *ngIf="panel=='mainPanel'"></app-patient-file-main-panel>
  <app-patient-file-treatment-history-panel [patient]="patient" *ngIf="panel=='historyPanel'"></app-patient-file-treatment-history-panel>
</div>

</div>
