<div class="dialog-content">

  <mat-card-title>Zmiana hasła</mat-card-title>
  <br/>
  <mat-divider></mat-divider>
  <br/>
  <div class="form-container">
    <form
      [formGroup]="passwordChangeForm"
      novalidate
      xmlns="http://www.w3.org/1999/html">
      <div class="data">
        <div class="column">
          <br/>
          <mat-form-field>
            <mat-label>Obecne hasło</mat-label>
            <input matInput formControlName="currentPassword" [type]="hideCurrent ? 'password' : 'text'"
                   [required]="true">
            <mat-icon matSuffix
                      (click)="hideCurrent = !hideCurrent">{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>

          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Nowe hasło</mat-label>
            <input minlength="6" matInput formControlName="newPassword" [type]="hideNew ? 'password' : 'text'"
                   [required]="true">
            <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint>Hasło musi mieć minimum 6 znaków</mat-hint>
          </mat-form-field>
          <br/>
        </div>
      </div>
    </form>
  </div>

  <mat-error *ngIf="isPasswordChangeFail" id="error-message">{{errorMessage}}</mat-error>
  <br/>
  <br>
  <mat-divider></mat-divider>
  <br/>
  <br/>
  <div class="button-row">
    <button mat-button (click)="close()">Anuluj</button>
    <button mat-button mat-raised-button color="accent" (click)="submit()" [disabled]="!passwordChangeForm.valid">
      Zatwierdź
    </button>
  </div>
</div>
