.form-container{
  width: 80%;
 left: 0;
  right: 0;
  margin: auto;

  mat-form-field{
    width: 100%;
  }
}
.button-row {
  width: auto;
  text-align: center;

  button {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
  }

}
.dialog-content {
  height: 100%;
}
